<article id="main">

    <header class="special container">
        <span class="icon fa-black-tie"></span>
        <h2>About Us</h2>
    </header>
    <section class="wrapper style4 container">
        <div class="content">
            <section>
                <p>
                    <img id="headshot" src="images/hs.jpg" />
                </p>
                <header>
                    <h3>
                        <strong>About Our President</strong>
                    </h3>
                </header>
                <p>Kendyl Auten has 20 years of experience that spans a variety of industries including hospitality, medical,
                    moving and storage, forensic engineering, manufacturing, industrial packaging, and food retail. While
                    her professional journey has been filled with hires, skill-building, and promotions, one of the most
                    impactful moments included a string of layoffs that left her questioning her professional purpose.</p>
                <p>Faced with the uncertainty of being an unemployed single parent who had to figure out how to make ends meet,
                    Kendyl decided to use this unexpected life change as an opportunity to change her life.</p>
                <p>Her determination, along with a combination of local resources, career advancement courses, and successful
                    networking efforts landed her a stable position at a reputable company with potential for upward mobility.
                    Most importantly, the experience further fueled her passion to help others in similar situations.</p>
                <p>In 2018, Kendyl founded Bear-A-Hand, a nonprofit organization dedicated to helping individuals define and
                    pave their own path to success. More than just a list of resources, Kendyl strives to establish a network
                    of mentors who compassionately guide individuals through successful professional transitions.</p>
                <p>Kendyl credits her mother with instilling in her a strong work ethic and the desire to help others succeed.
                    Seeing her mother's dedication to serving others even while raising four children and working two full-time
                    jobs, inspired Kendyl to find a way to give back.</p>
                <p>"Everyone needs a hand at some point in their lives," Kendyl says. "My goal is to help as many people as
                    I can so they can share their experience and tools for the benefit of others."</p>
            </section>
            <section>
                <header>
                    <h3>
                        <strong>EDUCATION</strong>
                    </h3>
                </header>
                <p>Kendyl graduated from Kean University with a bachelor's degree in Criminal Justice and went on to earn her
                    MBA in Project Management from DeVry University Keller Graduate School of Management.</p>
            </section>
            <section>
                <a href="#" class="image featured">
                    <img src="images/success.jpg" alt="" />
                </a>
                <header>
                    <h3>
                        <strong>Bear-A-Hand's Purpose</strong>
                    </h3>
                </header>
                <p>Whether you've been laid-off or changed career paths to improve your life, transitional times can be tough.</p>
                <p>Between applying, interviewing, and daydreaming of the moment when your dream job finally contacts you to
                    say, "We want to make you an offer" , it's easy to get overwhelmed.</p>
                <p>Bear-A-Hand understands. Combining compassion with career development, our approach helps goal-seekers leverage
                    essential skills to produce engaging resumes, conduct focused job searches, and network effectively.</p>
                <p>More than just a list of resources, our network of mentors share extensive real-world experience and customized
                    support services that helps individuals in transition navigate their path to success.</p>
            </section>
            <section>
                <a href="#" class="image featured">
                    <img src="images/wecare.jpg" alt="" />
                </a>
                <header>
                    <h3>
                        <strong>Our Goals</strong>
                    </h3>
                </header>
                <p>To use education and focused career development strategies to cultivate a community of motivated individuals
                    who can navigate their own path to success.</p>
            </section>
        </div>










    </section>
</article>