<article id="main">

    <header class="special container">
        <span class="icon fa-exclamation"></span>
        <h2>
            <strong>Donate</strong>
        </h2>
        <p>Check back soon for more details on how you can donate.</p>
    </header>
</article>