<article id="main">
    <header class="special container">
        <span class="icon fa-exclamation"></span>
        <h2>
            <strong>Sorry!</strong>
        </h2>
        <p>Looks like this page no longer exists</p>
    </header>
</article>