<article id="main">
    <header class="special container">
        <span class="icon fa-briefcase"></span>
        <h2>Services</h2>
        <p>Bear-A-Hand's supportive network of mentors provide a wide range of services designed to help you achieve your goals</p>
    </header>
    <section class="wrapper style4 container">
        <div class="content">
            <section>
                <a href="#" class="image featured">
                    <img src="images/desk.jpeg" alt="desk" />
                </a>
                <ul style="list-style-type: disc">
                    <li>Personalized action plans geared toward your unique interests
                    </li>
                    <li>Focused job recruitment with local employers and staffing agencies
                    </li>
                    <li>Connection to public and private training resources, as well as local and state social assistance programs
                    (housing, food, employment, etc.)
                    </li>
                    <li>Coordination of community outreach program volunteer services
                    </li>
                </ul>
            </section>
        </div>

    </section>
</article>